/*■■■■■■■■■■■■■■■■■■■■■■■■ Declarations */

@import 'reset';

$orange-1: #fb5607;
$blue-1: #2ec4b6;

/*■■■■■■■■■■■■■■■■■■■■■■■■ Core */

body{font-family: Ubuntu, serif; background: #181818; color: #fff; text-align: justify;}
.wrapper{max-width: 1000px; margin: 0 auto; box-sizing: border-box; background: rgba(#fff, 0.1); padding: 20px; border-radius: 10px; box-shadow: inset 0 0 5px rgba(#fff, 0.2);}
h1{font-size: 2rem; color: $blue-1;}
h2{font-size: 1.5rem; color: $blue-1;}
a{display: inline-block; text-decoration: none;}

/*■■■■■■■■■■■■■■■■■■■■■■■■ Header */

header{
    padding-top: 30px; text-align: center;

    .title{font-size: 3.5rem; text-shadow: -2px 2px 2px rgba($orange-1, 0.5);}
    span{text-transform: uppercase; font-weight: bold; color: $orange-1; text-shadow: none;}
}

.new{
    display: block; margin: 30px auto 0; width: 150px; padding: 10px 15px; background: rgba(#fff, 0.1); border: 2px solid rgba($orange-1, 0.2); border-radius: 8px; color: #fff; text-align: center; text-transform: uppercase; font-weight: bold;
    &:hover{border: 2px solid $orange-1;}
}

/*■■■■■■■■■■■■■■■■■■■■■■■■ Main */

main{
    padding-top: 30px;

    .article{
        padding: 20px; border: 1px solid rgba($orange-1, 0.2); border-radius: 5px; margin-bottom: 20px; background: rgba(#000, 0.2);

        p{margin-bottom: 15px;}
        &:last-child{margin-bottom: 0;}
        .date{text-transform: uppercase; font-weight: bold; margin: 10px 0 15px; font-size: 0.8rem; color: #ccc;}
    }
    button, a{
        text-transform: uppercase; font-size: 0.9rem; padding: 7px 15px; font-family: Ubuntu, serif; margin-right: 10px; background: #111; color: #fff; border: 2px solid rgba($orange-1, 0.2); border-radius: 7px; cursor: pointer;
        &:hover{border: 2px solid $orange-1;}
    }
    #frm-delete{display: inline-block;}

    /**
    * New article form
    */
    #frm-new{
        label, input, textarea{display: block; width: 100%; max-width: 100%; box-sizing: border-box; min-width: 100%;}
        input, textarea{
            padding: 10px; font-size: 1.2rem; font-family: Ubuntu, serif; font-weight: normal; outline: none; border: 1px solid #222; border-radius: 7px;
            &:focus{box-shadow: 0 0 5px $orange-1;}
        }
        label{font-size: 1.1rem; padding: 20px 0 10px;}
        textarea{max-height: 200px; min-height: 90px;}

        button{margin-top: 20px;}
        button,a {padding: 10px 15px; font-weight: bold;}
    }
}

/*■■■■■■■■■■■■■■■■■■■■■■■■  */
/*■■■■■■■■■■■■■■■■■■■■■■■■  */
/*■■■■■■■■■■■■■■■■■■■■■■■■  */