<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/styles.css">
    <title>Home Page</title>
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="title">MarkDown <span>Blog</span></div>
        </div>
    </header>
    <main>
        <div class="wrapper">

            <div class="article">
                <h1>Mern Tutorial</h1>
                <div class="date">2020-10-18</div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad laudantium reiciendis et ipsum, voluptate porro nostrum maiores nihil eos veniam.</p>
                <button class="read">Read More</button>
                <button class="edit">Edit</button>
                <button class="delete">Delete</button>
            </div>

            <div class="article">
                <h1>Mern Tutorial</h1>
                <div class="date">2020-10-18</div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad laudantium reiciendis et ipsum, voluptate porro nostrum maiores nihil eos veniam.</p>
                <button class="read">Read More</button>
                <button class="edit">Edit</button>
                <button class="delete">Delete</button>
            </div>

            <div class="article">
                <h1>Mern Tutorial</h1>
                <div class="date">2020-10-18</div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad laudantium reiciendis et ipsum, voluptate porro nostrum maiores nihil eos veniam.</p>
                <button class="read">Read More</button>
                <button class="edit">Edit</button>
                <button class="delete">Delete</button>
            </div>
        </div>
    </main>
</body>
</html>