<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">
    <title>New Article</title>
</head>
<body>
    <main>
        <div class="wrapper">
            <h1>Edit Article</h1>
            <form action="/articles/<%= article.id %>?_method=PUT" method="POST" id="frm-new">

                <!-- - symbol renders exact html of the file requested -->
                <%- include('_formFields') %>
                
            </form>
        </div>
    </main>
</body>
</html>